openapi: 3.1.0
info:
  title: Demo Google Sheets API
  version: "1.0.0"
  description: API para leer datos de Google Sheets usando una API key.

servers:
  - url: https://sheets.googleapis.com/v4/spreadsheets?key=AIzaSyD0RTohVyLq1VwGtYfMCOBDioeVvfx6XNo

paths:
  /{spreadsheetId}/values/{range}:
    get:
      operationId: getSheetValues
      summary: Leer rango de Google Sheets
      description: Retorna los valores de un rango específico de una hoja de cálculo de Google Sheets.
      parameters:
        - name: spreadsheetId
          in: path
          required: true
          description: El ID de la hoja de cálculo.
          schema:
            type: string
          example: 1vXbfITWSSBA2gInqRVhNqWnySRCgpXXf2hpTclT1O24
        - name: range
          in: path
          required: true
          description: Rango en notación A1 (por ejemplo: A1:O972)
          schema:
            type: string
          example: A1:O972
      responses:
        '200':
          description: Datos obtenidos correctamente.
          content:
            application/json:
              schema:
                type: object
                properties:
                  range:
                    type: string
                  majorDimension:
                    type: string
                  values:
                    type: array
                    items:
                      type: array
                      items:
                        type: string
        '400':
          description: Solicitud inválida.
        '403':
          description: Acceso denegado o clave inválida.
        '404':
          description: Hoja o rango no encontrado.
